<h1 style="margin-left: 40%;font-weight: 700;font-style: italic;">CandleLight Hotels</h1>
<div class="card1">

    <div class="card" style="width: 18rem; height:300px">
      <img src="../../../../assets/c1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Ashok Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/c2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">AD Fivestar Hotel</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/c3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">CKR Hotels</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/c4.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">CSK Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/c5.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">MI Hotel</p>
      </div>
    </div>

  </div>
