<div class="card1">

    <div class="card" style="width: 18rem; height:400px">
      <img src="../../../assets/item1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">kebab, also spelled kebob or kabob, dish of Middle Eastern or Central Asian origin that typically combines small pieces of meat s with vegetables on a skewer and is then grilled.An average kebab contains about 2,000 calories.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Momos are a traditional delicacy in Bhutan, Nepal, Sikkim, Assam and north Bengal.Momos are mostly steamed.The total calorie in one momo is 35.2 kcal.Every shape of a momo has a different name.</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Doughnuts are deep-fried cakes with a long European history and roots in still earlier Middle Eastern cuisine. They were introduced to America by the Dutch in New Netherlands to America as oliekoecken (oil cakes or fried cakes).</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Dessert is a course that concludes a meal.A dessert is something sweet, such as fruit, pastry,beverages or ice cream.You can't buy happiness, but you can buy dessert and that's kind of the same thing.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item5.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Tiffin is an Indian English word for a type of meal. It refers to a light breakfast or a light tea-time meal at about 3 p.m., consisting of typical tea-time foods. In certain parts of India, it can also refer to the midday luncheon or,a between-meal snack.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Originally from Persia, and introduced in India by Mughal rulers, the dish is a delight to eat and a challenge for chefs to prepare. In a perfect pot of biryani, every grain of rice is separate, yet infused with aromas of various spices and has meat or vegetables paired with it.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Ice cream contains nutrients that are good for your immune system. There are nutrients in ice cream that can boost your immune system. Ice cream is made with milk, which is full of vitamins and nutrients which are all vital for a healthy immune system.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;height:400px">
      <img src="../../../assets/item8.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Carbonated beverages are prepared by mixing chilled flavored syrup with chilled carbonated water. Carbonation levels range up to 5 volumes of CO2 per liquid volume. Ginger ale, colas, and related drinks are carbonated with 3.5 volumes. Other drinks, often fruity ones, are carbonated less.</p>
      </div>
    </div>

  </div>