<h1 style="margin-left: 40%;font-weight: 700;font-style: italic;"> Hotels</h1>
<div class="card1">
    <div class="card" style="width: 18rem; height:300px">
        <img src="../../../../assets/h1.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Pavani Seashore Hotel</p>
        </div>
      </div>

    <div class="card" style="width: 18rem;height:300px">
        <img src="../../../../assets/c4.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">CSK Hotel</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;height:300px">
        <img src="../../../../assets/m3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Park Hotel</p>
        </div>
      </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/hotel1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Taj Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/hotel2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">ITC Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem; height:300px">
        <img src="../../../../assets/m1.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Vizag Hotels</p>
        </div>
      </div>
    <div class="card" style="width: 18rem; height:300px">
        <img src="../../../../assets/c1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ashok Hotel</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;height:400px">
        <img src="../../../../assets/h4.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">SR Seashore Hotel</p>
        </div>
      </div>

  </div>