<h1 style="margin-left: 40%;font-weight: 700;font-style: italic;">Mountainview Hotels</h1>
<div class="card1">

    <div class="card" style="width: 18rem; height:300px">
      <img src="../../../../assets/m1.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Vizag Hotels</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/m4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">AK Hotel</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/m3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Park Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/m2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Vibs Hotel</p>
      </div>
    </div>
  </div>