<h1 style="margin-top: 10px;font-size: 30px;margin-left: 40%;">Traditional Dress</h1>
<div class="card1">

    <div class="card" style="width: 18rem; height:300px">
      <img src="../../../../assets/sarees.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Sarees</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/marrage.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Marrage Dress</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/t3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Araku Traditional Dress</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/t4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Traditional Voni Dress</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/t5.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Traditional Dress</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/t6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>

  </div>