<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="margin-left: 40%;font-weight: 700;font-style: italic;">Transport</h1>
<div class="card1">

    <div class="card" style="width: 18rem; height:300px">
      <img src="../../../../assets/buses.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Buses</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/bikes.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Bikes</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/cars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Cars</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/cycles.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Cycles</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;height:300px">
        <img src="../../../../assets/scooty.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Scooty</p>
        </div>
      </div>
  </div>
</body>
</html>