<div class="card1">

    <div class="card" style="width: 18rem; height:400px">
      <img src="../../../../assets/tf1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="margin: 10%; font: 20px 800;">Punugulu</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/tf2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Masala Dosa</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/tf3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Idli</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/tf4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Liver fry</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/tf6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Bamboo Biriyani</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/tf7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Tamota Bajji</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/tf8.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Chat Masala</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../assets/item8.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Ice Creams</p>
      </div>
    </div>

  </div>