<h1 style="margin-left: 40%;font-weight: 700;font-style: italic;">Seashore Hotels</h1>
<div class="card1">

    <div class="card" style="width: 18rem; height:300px">
      <img src="../../../../assets/h1.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Pavani Seashore Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/h3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"> RK Seashore Hotel</p>
      </div>
    </div>

   
    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/h2.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">VSR Seashore Hotel</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;height:300px">
      <img src="../../../../assets/h4.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">SR Seashore Hotel</p>
      </div>
    </div>
  

  </div>